<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<header th:replace="layout/plantilla :: header"></header>
	<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}"
		th:text="#{persona.crear}">Crear Persona</a>

	<div th:if="${Personas != null and !Personas.empty}">
		<table border=1>
			<tr>
				<th>[[#{persona.nombre}]]</th>
				<th>[[#{persona.apellido}]]</th>
				<th>[[#{persona.telefono}]]</th>
				<th>[[#{persona.email}]]</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.editar}]]</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
			</tr>

			<tr th:each="Personas : ${Personas}">
				<td th:text="${Personas.nombre}">Mostrar Nombre</td>
				<td th:text="${Personas.apellido}">Mostrar Apellido</td>
				<td th:text="${Personas.telefono}">Mostrar Telefono</td>
				<td th:text="${Personas.email}">Mostrar Email</td>
				<td sec:authorize="hasRole('ROLE_ADMIN')">
					<a th:href="@{/editar/}+ ${Personas.idPersona}">[[#{accion.editar}]]</a>
				</td>
				<td sec:authorize="hasRole('ROLE_ADMIN')">
					<a th:href="@{/eliminar(idPersona=${Personas.idPersona})}">[[#{accion.eliminar}]]</a>
				</td>

			</tr>
		</table>
	</div>

	<div th:if="${Personas == null or Personas.empty}">
		[[#{persona.lista-vacia}]]</div>

	<footer th:replace="layout/plantilla :: footer"></footer>

</body>
</html>